/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

:root {
	--color-primary: blue;
	--color-secondary: #c00;
}

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Island+Moments&family=Junge&display=swap');

*{
	box-sizing: border-box
 }

.page-1{
	background-image:url(“/Users/junmanyang/Documents/GitHub/final-project-fall-2022-rewind/src/images/map-page.png”);
	width: 1280px;
	height: 832px;
}
.p1headline{
	color: #000;
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: "Island Moments";
	font-size: 128px;
   font-weight: 400;
   letter-spacing: -2.56px;
}
p1{
	color: #000;
	font-family: Junge;
	font-size: 28px;
	font-weight: 400;
	line-height: 48px; /* 175% */
	border-radius: 12px;
	background: #FFF;
	display: flex;
	padding: 24px;
	flex-direction: column;
	gap: 16px;
	max-width: 100%;
}


/* This uses the same value as --size-xs. */
@media screen and (width >= 320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}
